
@media(max-width: 500px){
    body{
        background-image: url("./Asset/pexels-photo-2341290\ 1.png");
        width: 100%;
        height: 100%;
        background-position: center;
        overflow-x: hidden; 
    }
    header{
        width: 100vw;
        height: auto;
    }
    
    header .topBar{
        background-color: #000;
        color: #fff;
        font-size: 8px;
        width: 390px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
     }
     
      header .topBar span{
         color: #fb8500;
     }
    
     header .navContainer{
        margin: 0px;
        display: flex;
        flex-direction: row;
        width: 90%;
        padding: 10px;
        justify-content: space-between;
       
    }
    
    header .navContainer .logo{
        margin: 0px;
        padding: 0px;
        padding-bottom: 0;
        width: 80px;
        height: 40px;

    }

    header .navContainer .logo img{
        width: 50px;
        height: 50px;
    }
    
     header .navContainer nav{
        position: absolute;
        left: 0px;
        top: 50px;
        background-color: #fff;
        width: 60vw;
        height: 100vh;
        display: none;
        flex-direction: column;
        margin: 0px;
        padding: 20px;
    }
     header .navContainer nav ul{
        width: 100%;
        height: 200px;
        list-style: none;
        display: flex;
        flex-direction: column;
        font-size: 20px;
        justify-content: space-between;
    }
     
     header .navContainer nav #close{
        display: flex;
        font-size: 30px;
        margin-left: 90%;
    }
    
    
     header .navContainer nav .B{
        text-decoration: none;
        color: #000;
        font-weight: 600;
    }
    
     header .navContainer .cart {
    
        font-size:30px;
        margin-left: 0px;
        margin-right: 13px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 0px;
        width: 100px;
        height: 40px;
        padding-top: 0px;
    }
    
    header .navContainer .cart #menu-btn{
        display: flex;
    }
    article{
        width: 100vw;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    
    article .topCont {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    article .container{
        display: flex;
        width: 100%;
        height: 250px;
    }
    article .container .slider-wrapper{
        position: relative;
        max-width: 24rem;
        margin: 0 auto;
    }
    article .container .slider-wrapper .slider{
        display: flex;
        flex-direction: column;
        height: 250px;
        aspect-ratio: 3 / 3;
        overflow-y: hidden;
        overflow-x: hidden;
        scroll-snap-type: y mandatory;
        scroll-behavior: smooth;
        box-shadow: 0.7rem 1rem -0.35rem hsla(0, 0%, 0.25);
        border-radius: 0.2rem;
    }
    article .container .slider-wrapper .slider img{
        flex: 0.5 0 100%;
        scroll-snap-align: start;
        object-fit: cover;
    } 
    article .container .slider-wrapper .slider-nav{
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;
        position: absolute;
        top: 70px;
        left: 280px;
        transform: translateX(-50%);
        z-index: 1;
    }
    article .container .slider-wrapper .slider-nav a{
        border: 2px solid #B4B4B4 ;
        background-color: #B4B4B4;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        transition: opacity ease 125ms;
        transition: 0s;
    }
    
    article .container .slider-wrapper .slider-nav a:focus{
        opacity: 1;
        background-color:  #FB8500;
    } 
    article .container .slider-wrapper .slider-nav a:hover {
        opacity: 1;
        background-color:  #FB8500;
    }
    article .topCont .grain{
        margin-top: 10px;
        width: 95%;
        height: 200px;
        margin-left: 0%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    article .topCont .grain .grainsTypes{
        width: 110px;
        height: 150px;
        display: flex;
        flex-direction: column;
        padding: 0px;
    }
    article .topCont .grain .grainsTypes  .choiceCont{
        width: 100%;
        height: 100%;
        border-radius: 10px; 
        background-color: #fff;
    }
    article .topCont .grain .grainsTypes  .choiceCont a {
        text-decoration: none;
        color: #000;
    }
    article .topCont .grain .grainsTypes  .choiceCont h2{
        margin-top: 40px;
        margin-left:  10px;
        font-weight: 700;
        font-size: 12px;
        width: 50px;
        font-weight: 900;
        text-align: start;
    }
    article .topCont .grain .grainsTypes  .choiceCont hr{
        margin-top: 5px;
        opacity: 0.5;
    }
    article .topCont .grain .grainsTypes  .choiceCont .timePrice{
        width: 90%;
        margin-top: 0px;
        margin-left: 2px;
        display: flex;
        flex-direction: row;
        gap: 30px;
    }
    article .topCont .grain .grainsTypes  .choiceCont .timePrice span{
        flex-direction: column;
        font-size: 11px;
    }
    article .topCont .grain .grainsTypes  .choiceCont .timePrice span .A{
        height: auto;
        width: 2px;
        font-size: 11px;
        margin-top: 0px;
    }
    
    article .topCont .grain .grainsTypes  .choiceCont .timePrice span .B{
        font-weight: 700;
        width: 2px;
    }
    article .topCont .grain .grainsTypes  .choiceCont .timePrice  .C{
        margin-top: 25px;
        font-weight: 700;
        font-size: 11px;
        margin-left: 20px;
    }
    article .topCont .grain .grainsTypes .imgCont img{
        position: relative;
        margin-left: 5px;
        bottom: 210px;
        width: 100px;;
    } 
    article .topCont .grain2{
        margin-top: 30px;
        width: 95%;
        height: 400px;
        margin-left: 0%;
        display: flex;
        flex-direction: row;  
        justify-content: space-between;
    }
    article .topCont .grain2 .grainsTypes{
        width: 110px;
        height: 160px;
        display: flex;
        flex-direction: column;
        padding: 0px;
    }
    article .topCont .grain2 .grainsTypes  .choiceCont{
        width: 100%;
        height: 100%;
        border-radius: 10px; 
        background-color: #fff;
    }
    article .topCont .grain2 .grainsTypes  .choiceCont a {
        text-decoration: none;
        color: #000;
    }
    article .topCont .grain2 .grainsTypes  .choiceCont h2{
        margin-top: 40px;
        margin-left:  10px;
        font-weight: 700;
        font-size: 12px;
        width: 50px;
        font-weight: 900;
        text-align: start;
    }
    article .topCont .grain2 .grainsTypes  .choiceCont hr{
        margin-top: 5px;
        opacity: 0.5;
    }
    article .topCont .grain2 .grainsTypes  .choiceCont .timePrice{
        width: 90%;
        margin-top: 0px;
        margin-left: 2px;
        display: flex;
        flex-direction: row;
        gap: 30px;
    }
    article .topCont .grain2 .grainsTypes  .choiceCont .timePrice span{
        flex-direction: column;
        font-size: 11px;
    }
    article .topCont .grain2 .grainsTypes  .choiceCont .timePrice span .A{
        height: auto;
        width: 2px;
        font-size: 11px;
        margin-top: 0px;
    }
    
    article .topCont .grain2 .grainsTypes  .choiceCont .timePrice span .B{
        font-weight: 700;
        width: 2px;
    }
    article .topCont .grain2 .grainsTypes  .choiceCont .timePrice  .C{
        margin-top: 25px;
        font-weight: 700;
        font-size: 11px;
        margin-left: 20px;
    }
    article .topCont .grain2 .grainsTypes .imgCont img{
        position: relative;
        margin-left: 5px;
        bottom: 210px;
        width: 100px;;
    } 
    /* article .topCont .grain2{
        margin-top: 10px;
        width: 95%;
        height: 200px;
        margin-left: 0%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    article .topCont .grain2 .grainsTypes{
        width: 350px;
        height: 360px;
        display: flex;
        flex-direction: column;
    }
    
    
    article .topCont .grain2 .grainsTypes  .choiceCont{
        width: 280px;
        height: 350px;
        border-radius: 30px; 
        background-color: #fff; 
    }
    
    article .topCont .grain2 .grainsTypes  .choiceCont a {
        text-decoration: none;
        color: #000;
    }
    article .topCont .grain2 .grainsTypes  .choiceCont h2{
        margin-top: 170px;
        margin-left:  50px;
        text-align: start;
        width: 90px;
        font-weight: 900;
    
    }
    
    article .topCont .grain2 .grainsTypes  .choiceCont hr{
        margin-top: 30px;
        opacity: 0.3;
    }
    
    article .topCont .grain2 .grainsTypes  .choiceCont .timePrice{
        width: 90%;
        height: 80px;
        margin-left: 14px;
        display: flex;
        flex-direction: row;
       gap: 150px;
    }
    article .topCont .grain2 .grainsTypes  .choiceCont .timePrice span{
        flex-direction: column;
    }
    article .topCont .grain2 .grainsTypes  .choiceCont .timePrice span .A{
        height: auto;
        width: 10px;
    }
    
    article .topCont .grain2 .grainsTypes  .choiceCont .timePrice span .B{
        font-weight: 900;
       width: 5px;
    }
    article .topCont .grain2 .grainsTypes  .choiceCont .timePrice  .C{
        margin-top: 38px;
        font-weight: 900;
    }
    
    article .topCont .grain2 .grainsTypes .imgCont img{
        position: relative;
        margin-left: 20px;
        bottom: 450px;
    } */
     
}
   